  
<h1>GET Request Received</h1>

<table>
    {{#each entries}}
    <tr>
        <td style="border:1px solid black">{{this.name}}</td>
        <td style="border:1px solid black">{{this.value}}</td>
    </tr>
    {{/each}}
</table>