<h1>POST Request Received</h1>

<table>
    {{#each entries}}
    <tr>
        <td style="border:1px solid green">{{this.name}}</td>
        <td style="border:1px solid green">{{this.value}}</td>
    </tr>
    {{/each}}
</table>